/* Styling for buttons */
.assignstocks-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .assignstocks-button:hover {
    background-color: #0056b3;
  }